<h1>Welcome to Rainforest Retail</h1>

<p>We have <%= link_to "#{@num_products} products", products_path%>!</p>

<h2>Admin functions</h2>
<ul>
  <li><%= link_to "Categories", categories_path%></li>
  <li><%= link_to "Reviews", reviews_path%></li>
</ul>